<!DOCTYPE html>
<html>
<head>
    <title>Delete Event</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Are you sure you want to delete {{ event.event_name }}?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'manage_events' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
